.login {
    background-image: url("../images/blog-information-website-concept-workplace-background-text-view-above-127465079.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.login-form {

    padding: 1.6%;


}

.signup-form {

    padding: 1.6%;

}